
.header {
  width: 100%;
  height: 293px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}

.menu {

}

.menu-header .menu-list {
  display: flex;
  gap: 25.48px;
  margin-top: 133px;
  margin-bottom: 138px;
  /*flex-direction: row;*/
}

.menu-header .menu-item {
  list-style: none; 
}

.menu-header .menu-item:not(:first-child) {
  list-style: circle;
}

.menu-link {

}

.header__logo {
  display: block;
  width: 148px;
  height: 105px;
}

.contacts {
  max-width: 240px;
  justify-self: end;
}

.text-base {

}

.text-underlined {
  text-decoration: underline;
}

.text-underlined {

}



.cover {
  box-sizing: border-box;
  background: url("../images/cover.jpg");
  background-size: cover;
  background-position: -8vw 0;
  background-repeat: no-repeat;
  position: relative; /* чтобы абсолютное позиционирование overlay применяось к родителю */
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-top: 165px;
}

.cover__title {
  color: white;
  position: relative;
  z-index: 1;
  font-family: "Raleway";
  font-size: 100px;
  font-weight: bold;
  margin-bottom: 106px;
}

.aligned-text {
  display: block;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
}
.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 0.3em;
}

.no-letter-spacing {
  letter-spacing: 0;

}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
  color: white;
  font-family: "Raleway";
  font-size: 22px;
  font-weight: 400;
  word-spacing: 20px; 
  
}

.cover__description-text {

}

.bet-button {
  background: none;
  border: 1px solid white;
  padding: 12px 32px 11px 31px;
  font: inherit;
  color: inherit;
  cursor: pointer;
  text-transform: uppercase;

}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  background-color: rgb(0, 0, 0);
  z-index: 0;
}



.lots {
  margin: 0 auto;
  width: 1052px;
  box-sizing: border-box;
  margin-top: 180px;
}

.section-title {
  font-family: "Raleway";
  font-size: 40px;
  font-weight: bold;
}

.lots .section-title {
  padding-left: 40px;

}

.lots-container {
  list-style: none;   /* убирает маркеры */
  margin: 27px 0 30px 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.lots-item {
  width: 334px;
  min-height: 596px;
}

.card-link {
  display: block;
  text-decoration: none;
  height: 100%;
}

.card {
  height: 100%;
  padding: 40px 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-size: cover;
  background-position: -5vw 0;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-size: cover;
  background-position: -6.5vw 0;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-size: cover;
  background-position: -6.5vw 0;
}


.card-title {
  font-family: "Raleway";
  text-transform: uppercase;
  line-height: 1.2;
  text-decoration: underline;
  font-size: 20px;
  font-weight: bold;
  color: white;
  z-index: 1;

}

.card-text {
  font-family: "Raleway";
  line-height: 1.2;
  font-size: 18.5px;
  font-weight: 400;
  color: white;
  z-index: 1;
}


.lots-more-link {
  margin-left: 40px;
}



.about {
  width: 1052px;
  box-sizing: border-box;
  margin: 120px auto 180px auto;
  display: grid;
  grid-template-columns: 334px 693px;
  gap: 25px;
}

/* Контейнер для логотипа и черного круга под ним */
.about__logo {
  min-height: 596px;
  width: 100%;
  position: relative;
  margin: 0 auto;
  padding: 35px 0 0 47px;
}

.about__logo-logo {

  box-sizing: border-box;
  background-color: black;
  border-radius: 50%;
  width: 240px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
}

.about__logo-image {

  position: relative;
  width: 148px;
  height: 114px;
  z-index: 1;
}

.about__description {
  margin-top: 133px;
}

.about .section-title {
  margin-bottom: 100px;
}

.about__text {
  font-family: "Raleway";
  font-size: 18.5px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;

}

.about__text:first-of-type {
  margin-bottom: 24px;
}



.footer {
  width: 100%;
  height: 180px;
  box-sizing: border-box;
  background-color: aquamarine;
}

.menu-footer .menu-list {
  flex-direction: column;
  justify-content: center;
  align-items: start;
  background-color: bisque;
}

.menu-footer .menu-item {
  list-style: none; /* Убираем маркеры у пунктов меню в футере */
}

.footer__social-list-item {
  list-style: none;
/*  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: 40px;
*/
}