
.header {
  width: 100%;
  height: 293px;
  box-sizing: border-box;
}

.menu {

}

.menu-header .menu-list {
  /*flex-direction: row;*/
}

.menu-list {

}

.menu-item {

}

.menu-link {

}

.header__logo {
  display: block;
  width: 148px;
  height: 105px;
}

.contacts {

}

.text-base {

}

.text-underlined {

}



.cover {
  width: 100%;
  height: 757px;
  box-sizing: border-box;
  background: url("../images/cover.jpg");
}

.title {

}

.description {

}

.cover-subtitle {

}

.button {

}



.lots {
  width: 1052px;
  height: 723px;
  box-sizing: border-box;
  margin-top: 180px;
  background-color: aquamarine;
}

.section-title {

}

.lots .section-title {

}

.lots-container {
  display: flex;
  gap: 10px;

}

.lots-item {

}

.card-link {
  display: block;
  width: 340px;
  height: 423px;
}

.card {

}

.card-title {

}

.card-text {

}

.card__film {
  /*background: url("../images/card-lot-01.jpg");*/
  background-color: antiquewhite;

}

.card__book {
  background: url("../images/card-lot-02.jpg");
}

.card__picture {
  background: url("../images/card-lot-02.jpg");
}

.lots-more-link {

}



.about {
  width: 1052px;
  height: 595px;
  box-sizing: border-box;
  margin-top: 120px;
  margin-bottom: 180px;
}

/* Контейнер для логотипа и черного круга под ним */
.about-logo {
  width: 148px;
  height: 114px;
}

.about .section-title

.about-text {

}



.footer {
  width: 100%;
  height: 180px;
  box-sizing: border-box;
}

.menu-footer .menu-list {
  /*flex-direction: column;*/
}